@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-white-default {
    color: #FEFCFD;
  }

  .text-gray-default {
    color: #6A6A6A;
  }

  .text-invoice {
    color: #32A3D5;
  }

  .text-avaliable {
    color: #27804E;
  }

  @variants responsive {
    .bg-violet-200 {
      background-color: #9824C7;
    }

    .bg-violet-400 {
      background-color: #8A03BE;
    }

    .bg-ocult {
      background-color: #F6F5F5;
    }

    .h-70 {
      height: 70%;
    }

    .text-balance {
      color: #171717;
    }
  }
}
